#login {
  width: 450px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #fffdff;
  padding: 20px 40px;
  border-radius: 5px;
}

/*react hot taost custom style start*/
.error-toast::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 42px;
  background: #eb4f6c;
  right: 98.7%;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  top: 1px;
}

.success-toast:after {
  /* Your styles for the :after pseudo-element */
  content: "";
  position: absolute;
  width: 4px;
  height: 44px;
  background: #67eb4f;
  right: 97.9%;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  top: 0px;
}
/*react hot taost custom style end*/
